<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_juanpa.css">
</head>
<body>
    <div>
        <div class="drop-area">
            <h2 id="drag-text">Arrastra y suelta imágenes</h2>
            <span>O</span>
            <button>Selecciona tus archivos</button>
            <input type="file" name="" id="input-file" hidden multiple>
        </div>
        <button onclick="goBack()">Regresar</button>
        <div id="preview"> </div>
    </div>
    <div id="miDiv" class="status-text"></div>
   
</body>
<script src="script.js"></script>
</html>
